.btn {
    padding: 10px 30px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    background: var(--background-gradient);
}
.btn:hover {
    background: var(--background-gradient-reverse);
}
.btn-transparent-white {
    background: transparent;
    border: 2px solid white;
}
.btn-transparent-white:hover {
    background: white;
    color: #0065eb;
}