/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */
.bg-primary {
    background-color: var(--color-primary-light);
}
.bg-grey {
    background-color: var(--color-grey);
}
h2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
}
h2::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 3px;
    margin: -60px calc(50% - 25px);
    background-image: linear-gradient(to right, #01c5fa, #0065eb);
    background-color: var(--color-primary-light);
}
h2::after {
    content: '';
    display: inline-block;
    width: 80px;
    height: 2px;
    margin: 15px calc(50% - 40px);
    background-image: linear-gradient(to right, #01c5fa, #0065eb);
        background-color: var(--color-primary-light);    
    }
    h2.up {
        text-transform: uppercase;
    }

/************************************************************/

/************************************************************/
/* HEADER */

/************************************************************/

/************************************************************/
/* HERO */

/************************************************************/

/************************************************************/
/* ABOUT ME */

/************************************************************/

/************************************************************/
/* LIGHTOBX */

/************************************************************/

/************************************************************/
/* PORTFOLIO */

/************************************************************/

/************************************************************/
/* SERVICES */
.service {
    display: inline-block;
    width: calc(100% / 3);
    float: left;
    padding: 20px;
    text-align: center;
}
    .service > i {
        display: inline-block;
        font-size: 50px;
        line-height: 50px;
    }
    .service > h3 {
        display: inline-block;
        width: 100%;
        margin: 10px 0;
        font-size: 20px;
        line-height: 20px;
    }
    .service > p {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        line-height: 20px;

    }
    .service .servicesIcon {
        width: 80px;
        padding: 15px 0;
        border-radius: 50%;
    }
    .servicesIcon:hover {
        color: #FFF;
        background-image: linear-gradient(to right, #01c5fa, #0065eb);
        box-shadow: 0px 1px 5px 1px #000a;
    }
/************************************************************/

/************************************************************/
/* TEAM */
 
/************************************************************/

/************************************************************/
/* NUMBERS */

/************************************************************/

/************************************************************/
/* PRICING */

/************************************************************/

/************************************************************/
/* BLOG */

/************************************************************/

/************************************************************/
/* TESTIMONIALS */

/************************************************************/

/************************************************************/
/* CONTACT ME */

/************************************************************/

/************************************************************/
/* MAPS */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
