/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */
.bg-primary {
    background: var(--background-gradient);
    color: var(--color-primary-light-anti);
}
.bg-grey {
    background-color: var(--color-grey);
    color: var(--color-grey-anti);
}
h2 {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
}
h2::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 3px;
    margin: -60px calc(50% - 25px);
    background-image: linear-gradient(to right, #01c5fa, #0065eb);
    background-color: var(--color-primary-light);
}
h2::after {
    content: '';
    display: inline-block;
    width: 80px;
    height: 2px;
    margin: 15px calc(50% - 40px);
    background-image: linear-gradient(to right, #01c5fa, #0065eb);
        background-color: var(--color-primary-light);    
    }
    h2.up {
        text-transform: uppercase;
    }

/************************************************************/

/************************************************************/
/* HEADER */

/************************************************************/

/************************************************************/
/* HERO */
#hero {
    min-height: 100vh;
    background-image: var(--background-gradient);
    background-image: url(..//img/parallax-banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 200px 0;
    text-align: center;
}

#hero .hero-title {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
}
#hero .hero-subtitle {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 40px;
}
#hero .animated-text {
    font-size: 72px;
    line-height: 120px;
}


/************************************************************/

/************************************************************/
/* ABOUT ME */

#about p {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(119, 119, 119);
}
#about p.title {
    margin-bottom: 0;
    font-size: 30px;
    line-height: 40px;
    color: rgb(51, 51, 51);
}
#about p.subtitle {
    color: rgb(136, 136, 136);
    font-style: italic;
}
#about .video {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.play-btn {
    display: inline-block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;    
}
    .play-btn > .radius {
        display: inline-block;
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #ffffff;
        border-radius: 50%;
        animation: wave 4s linear infinite;
    }
    .play-btn > .radius.r-2 {
        animation-delay: 1s;
    }
    .play-btn > .radius.r-3 {
        animation-delay: 2s;
    }
    .play-btn > .radius.r-4 {
        animation-delay: 3s;
    }
    .play-btn > .circle {
        display: inline-block;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        border-radius: 50%;
    }
    .play-btn > .circle > .triangle {
            width: 0; 
            height: 0;
            position: absolute;
            top: 50%;
            left: 52%;
            transform: translate(-50%, -52%);    
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 10px solid #0065EB;
    }
@keyframes wave{
    0% {
        width: 0; 
        height: 0;
        opacity: 1;
    }
    100% {
        width: 100%; 
        height: 100%;
        opacity: 0;
    }
}
#iconz {
    display: inline-block;
    width: 100%;
}
    #iconz .icon-row {
        display: inline-block;
        float: left;
        margin-top: 40px;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #F5F5F5;

    }
    #iconz .ico {
        display: inline-block;
        float: left;
        width: 100%;
        font-size: 34px;
        line-height: 38px;
        background: linear-gradient(to right, #01c6fb, #0065eb 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    #iconz .iconText {
        display: inline-block;
        float: left;
        width: 100%;
        margin-top: 5px;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
    }

/************************************************************/

/************************************************************/
/* LIGHTOBX */

/************************************************************/

/************************************************************/
/* PORTFOLIO */

/************************************************************/

/************************************************************/
/* SERVICES */
.service {
    display: inline-block;
    /* width: calc(100% / 3);
    float: left; */
    padding: 20px;
    text-align: center;
}
    .service > i {
        display: inline-block;
        font-size: 50px;
        line-height: 50px;
    }
    .service > h3 {
        display: inline-block;
        width: 100%;
        margin: 10px 0;
        font-size: 20px;
        line-height: 20px;
    }
    .service > p {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        line-height: 20px;

    }
    .service .servicesIcon {
        width: 80px;
        padding: 15px 0;
        border-radius: 50%;
        border: 1px solid #eee;
    }
    .service .servicesIcon::before {
        background: var(--background-gradient);
        background-clip: border-box;
        background: -webkit-var(--background-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #fff;
    }
    .service {
        overflow: hidden;
    }
    .service:hover .servicesIcon {
        transition: all 0.3s ease-in-out;

        border-color: transparent;
        background: var(--background-gradient);
    }
    .service:hover .servicesIcon::before {
        background: inherit;
        background-clip: inherit;
        -webkit-background-clip: inherit;
        -webkit-text-fill-color: inherit;
    }
    /* .servicesIcon:hover {
        -webkit-background-clip: text;
        -webkit-text-fill-color: white;
        background: linear-gradient(to right, #01c5fa, #0065eb);
        box-shadow: 0px 1px 5px 1px #000a;
    } */
/************************************************************/

/************************************************************/
/* TEAM */
 
/************************************************************/

/************************************************************/
/* NUMBERS */
.bg-numbers {
    background-image: url(..//img/count-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.transferNumbers {
    display: inline-block;
    width: calc(100% / 4);
    float: left;
}
    .transferNumbers > div > i {
        display: inline-block;
        float: left;
        color: #FFF;
        font-size: 50px;
        line-height: 50px;
        margin: 0 0 0 50px;
    }
    .transferNumbers> div > h3 {
        display: inline-block;
        width: 50%;
        float: left;
        font-size: 40px;
        line-height: 40px;
        margin: 0 0 0 10px;
        text-align: left;
    }
    .transferNumbers > div > p {
        display: inline-block;
        width: 50%;
        float: left;
        font-size: 20px;
        line-height: 20px;
        margin: 0 0 0 10px;
        text-align: left;
    }
    @media (max-width: 1100px) {
        .transferNumbers> div > h3 {
            margin: 0 0 0 calc(50% - 170px);
        }
        .transferNumbers> div > p {
            margin: 0 0 0 calc(50% - 170px);
        }
        .transferNumbers {
            margin: 0 15px;
            padding: 20px 0;
        }
        .transferNumbers > div > i {
            margin: 0 0 0 calc(50% - 100px);
            width: 50px;
        }
    
}
    @media (max-width: 900px) {
        .transferNumbers> div > h3 {
            margin: 0 0 0 calc(50% - 120px);
        }
        .transferNumbers> div > p {
            margin: 0 0 0 calc(50% - 120px);
        }
        .transferNumbers {
            margin: 0 15px;
            padding: 20px 0;
        }
        .transferNumbers > div > i {
            margin: 0 0 0 calc(50% - 100px);
            width: 50px;
        }
    
}
    @media (max-width: 700px) {
        .transferNumbers> div > h3 {
            margin: 0 0 0 10px;
        }
        .transferNumbers> div > p {
            margin: 0 0 0 10px;
        }   
}
    /* .transferNumbers > div > .numbersIcon {
        width: 100px;
        padding: 15px 0;
        border-radius: 50%;
    } */

/************************************************************/

/************************************************************/
/* PRICING */

/************************************************************/

/************************************************************/
/* BLOG */

/************************************************************/

/************************************************************/
/* TESTIMONIALS */

/************************************************************/

/************************************************************/
/* CONTACT ME */

/************************************************************/

/************************************************************/
/* MAPS */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
