#main_header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #000c;
    color: #fff;
    padding: 35px 0;
    z-index: 1;
}
    #main_header i {
        display: none;
        width: 25px;
        float: right;
        font-size: 25px;
        line-height: 25px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
    }
    #main_header i:hover {
        font-size: 30px;

    }
    #main_header nav {
        display: inline-block;
        float: right;
    }
        #main_header nav > a {
            display: inline-block;
            float: left;
            margin: 0 15px;
            color: #fff;
            font-size: 16px;
            line-height: 25px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
        }
        #main_header nav > a::after {
            display: inline-block;
            content: '';
            position: absolute;
            height: 2px;
            left: 50%;
            right: 51%;
            bottom: -5px;
            background-color: #fff;
            transition: all 0.3s;
        }
        #main_header nav > a:hover::after,
        #main_header nav > a.active::after {
            left: 0%;
            right: 0%;
        }
    #main_header > .overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: #000c;
    }
    #main_header > .overlay > .menu {
        display: inline-block;
        width: 350px;
        height: 100%;
        background-color: #fff;
        color: #333;
        text-align: center;
        font-size: 22px;
        line-height: 25px;
    }
    #main_header > .overlay > .menu > * {
        display: inline-block;
        float: left;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    #main_header > .overlay .title{
        width: calc(100% - 45px);
    }
    #main_header > .overlay i {
        width: 45px;
    }
    /* #main_header.unshow-header {
        background-color: #000c;
        padding: 35px 0;
        transition: all 0.5s; 
    }*/
@media (max-width: 900px){
    #main_header i {
        display: inline-block;
    }
    #main_header nav {
        display: none;
    }
    #main_header.show-menu > .overlay {
        display: inline-block;
    }

    #main_header.show-menu nav {
        display: inline-block;
        width: 350px;
        position: fixed;
        top: 60px;
        bottom: 20px;
        left: 0;
        z-index: 2;
    }
    #main_header.show-menu nav a {
        color: #333;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    #main_header.show-menu nav a:hover {
        background-color: #eee;
    }
}